@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400&family=Playfair+Display:wght@900&family=Overpass+Mono:wght@300;700&display=swap');

.App {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.Header-container {
  height: 300px;
  background-color: #0E2240;
  display: flex;
  flex: 0 1 300px;
}

.Header-wrapper {
  width: 60%;
  margin:  0 auto;
  position: absolute;
  left: 0;
  right: 0;
  align-self: center;
}

.Player-picture {
  max-width: 350px;
  width: 20%;
  align-self: center;
}

.Player-info {
  height: 300px;
  width: 100%;
  display: flex;
  align-items: center;
}


.Player-info-body {
  font-size: 48pt;
  font-family: 'Overpass Mono', monospace;
  font-weight: 700;
  color: #CDCDCD;
  margin-left: 40px;
}

.NavBar {
  width: 100%;
  background-color: #0d3964;
  flex: 0 1 60px;
}

.NavBar-Container {
  width: 60%;
  height: 100%;
  margin: 0 auto;
  display: flex;
}

.Tab {
  display: flex;
  width: 150px;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  text-decoration: none;
  color: white;
  font-family: 'Lato', sans-serif;
  font-weight: 700;
  font-size: 12pt;
}

.active {
  background-color: white;
  color: #0d3964;
}

.Content {
  background-color: #E3E3E3;
  min-height: 100%;
  display: flex;
  justify-content: center;
  flex: 1 1 auto;
}

.Content-wrapper {
  margin-top: 30px;
  margin-bottom: 30px;
  width: 90%;
  height: 90%;
}

@media (min-width: 1440px) {
  .Content-wrapper {
    width: 60%;
  }
}

.Dropdown-wrapper {
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 0 15px 0;
  padding: 10px 0 10px 0;
  border-radius: 4px;  
}

.Dropdown-title {
  display: inline-block;
  margin-left: 15px;
  font-size: 16pt;
  font-family: 'Overpass Mono', monospace;
}

.Dropdown-item {
  float: right;
  margin-right: 15px
}

.DataTable {
  font-family: 'Overpass Mono', monospace;
}

.Button {
  width: 100px;
  height: 40px;
  margin-top: 20px;
  background-color: white;
  border: none;
  font-size: 11pt;
  font-family: 'Lato', sans-serif;
  font-weight: bold;
  border-radius: 4px;
  cursor:  pointer;
}
